AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION=2025-03-01-preview
AZURE_OPENAI_API_KEY=

# Connect via Azure's built-in PgBouncer (port 6432, transaction pooling mode)
DATABASE_URL="postgresql://AZURE_POSTGRES_USER:AZURE_POSTGRES_PASSWORD@AZURE_POSTGRES_HOST:6432/postgres?sslmode=require"

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_FROM=
SMTP_PASS=

AUTH_SECRET=


AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_STORAGE_CONTAINER_NAME=